*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    box-sizing: border-box;
}
#first{
overflow: auto;
width: 100%;
position: fixed;
background-color:#212529 ;
padding: 18px 0px;
font-size: 18px;
}
.right{
    float: right;
    margin-right: 20rem;
}
.left{
    float: left;
    margin-left: 20rem;
}
.left a{
    color: #ffffff;
}
.right a{
    color: gray;
}
#first a{
align-items: center;
padding-right: 9px;
}
#second{
    background-color: #1573FD;
    text-align: center;
    padding: 110px;
    color: white
}
#second h1{
    font-size: 40px;
    padding-bottom: 10px;
}
#second p{
   font-size: 22px;
   padding-bottom: 20px;
}
#second a{
    background-color: #F8F9FA;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    color: black;
}
#third{
    width: 50%; 
    margin: auto;
    
}
#third h2{
    padding-top: 9rem;
    font-size: 2rem;
}
#third p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 20px;
}


#third ul{
    display: list-item;
    margin-left: 30px;
}
#fourth{
    color: #212529;
    margin-top: 10%;
    padding: 10%;
    background-color: #F8F9FA;
    padding: 9rem 9rem;
    
}
#fourth h2{
    width: 60%;
    margin: auto;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;

}
#fourth p{
    width: 60%;
    margin: auto;
    font-size: 15px;
    font-weight: 100;
}
#fifth{
    color: #212529;
    margin-top: 10%;
    padding: 10%;
    padding: 10rem 9rem;
    width: 65%;
    margin: auto;
}
#sixth{
    background-color: #212529;
    padding: 48px 0;
    color: #F8F9FA;
    text-align: center
}

